.container-fluid {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 75px;
}

.intro {
  color: white;
}

.intro .greeting {
  padding-bottom: 35px;
}

.intro .name {
  color: greenyellow;
}

.intro .contact {
  padding-top: 40px;
}

.work {
  padding-top: 100px;
}

.skill {
  padding-top: 100px;
}

.project {
  padding-top: 100px;
}

.section {
  padding-bottom: 30px;
}

.section-heading {
  color: #2f79b9;
}

.job-title {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.company {
  color: greenyellow;
}

.project-title {
  color: greenyellow;
}

.project-content {
  color: white;
  margin-bottom: 50px;
}

.date {
  color: white;
  padding-bottom: 10px;
  margin-top: 0;
}

.skill-table {
  color: white;
}

th {
  font-weight: unset;
  padding-right: 20px;
  padding-bottom: 10px;
  color: greenyellow;
}

td {
  padding-right: 20px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.menu {display: block; /* Hide on Desktop */}

@media only screen and (max-width: 400px) {
  td {
    padding-right: 0;
    padding-left: 0;
  }
  .skill-table {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 12px;
  }
  h4 {
    font-size: 10px;
  }
  h5 {
    font-size: 8px;
  }
  .work {
    padding-left: 0;
    padding-right: 0;
  }
  .project {
    padding-left: 0;
    padding-right: 0;
  }
  .skill {
    padding-left: 0;
    padding-right: 0;
  }
  .footer {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }
  .container-fluid {
    margin-left: 5px;
    margin-right: 5px;
  }
  .section-heading {
    font-size: 20px;
  }
}

li {
  display: block;
  margin-top: 10px;
}

li:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "\e080";
  font-family: 'Glyphicons Halflings', monospace;
  font-size: 9px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #CCCCCC;
}

ul {
  list-style-position: inside;
  padding-left: 15px;
}

.topnav {
  overflow: scroll;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  /*display: block;*/
  margin-top: 10px;
  /*-webkit-animation: slide-up .5s ease-out;*/
  /*-moz-animation: slide-up .5s ease-out;*/
}

/* Style navigation menu links */
.topnav a {
  color: #66d9ef;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 16px;
  opacity: 1;
  display: block;
  /*-webkit-animation: slide-down .5s ease-out;*/
  /*-moz-animation: slide-down .5s ease-out;*/
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-hidden {
  display: none;
  opacity: 0;
}

/* ensure box is displayed block during the transition  */
.topnav-transition.topnav-hidden {
  display: block;
}

.topnav-transition {
  transition: opacity 3s ease;
}

.image {
  margin-right: 0;
  margin-left: 0;
  border-radius: 2%;
  float: right;
  height: auto;
  width: 28%;
}

.navbar.hide-nav {
  display: none; /* You can play on opacity for nice transitions*/
}

.footer {
  margin-bottom: 20px;
}

.github-logo {
  padding-right: 10px;
  max-width: 10%;
  min-width: 20px;
  height: auto;
}

.linkedin-logo {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 15%;
  min-width: 25px;
  height: auto;
}
