<div class="container-fluid">

  <div class="intro container-fluid">
    <p class="vi"><img class="image" hspace="20"
                       src="../assets/profilePic.JPG">
    <h1 class="greeting">Hello!</h1>
    <h2>I am <span class="name">Nisarg Shah</span>, a software engineer </h2>
    <h2>at Amazon Web Services.</h2>
    <h4 class="contact">Contact me @ shahnisarg087@gmail.com</h4>
  </div>

  <section class="work container-fluid">
    <h2 class="section" style="text-align: center;"><span class="section-heading">Experience</span></h2>
    <div class="vertical-menu vertical-line">
      <a id="defaultOpen" class="menu-item" href="#/" (click)="openWork($event, 'Amazon')">Amazon</a>
      <a class="menu-item" href="#/" (click)="openWork($event, 'Ansys')">Ansys</a>
      <a class="menu-item" href="#/" (click)="openWork($event, 'Bisag')">BISAG</a>
    </div>
    <div id="Amazon" class="menu-content">
      <h3><span class="job-title">Software Development Engineer</span> @ AWS</h3>
      <h5>August 2019 - Present</h5>
      <ul>
        <li>Consolidated BGSP</li>
      </ul>
    </div>

    <div id="Ansys" class="menu-content">
      <h4><span class="job-title">Intern</span> @ Ansys</h4>
      <h6>August 2018 - December 2018</h6>
      <ul>
        <li>Designed test plans and performed planned interactive testing for the newly added features to AnsysEDT
          software
        </li>
        <li>Optimized C++ code-base by implementing hard-disk file cache system and reduced the execution time by
          48.64%
        </li>
        <li>Investigated a program crash while running automated tests, created an independent program to reproduce the
          error
          using only third-party APIs and reported the bug to the API provide
        </li>
      </ul>
    </div>

    <div id="Bisag" class="menu-content">
      <h4><span class="job-title">Intern</span> @ Bhaskaracharya Institute of Space Applications and Geo-Informatics
      </h4>
      <h6>August 2015 - April 2016</h6>
      <ul>
        <li>Designed UML diagrams to visualize user interactions, processes and the structure of system</li>
        <li>Conceptualized, designed and developed a personal finance management Android application “MyMoney” using
          Android Studio and Android SDK that allowed users to keep track of expenditure and calculated tax liabilities
        </li>
        <li>Awarded in top 7 among 72 projects at project fair organized by Gandhinagar Institute of Technology</li>
      </ul>
    </div>
  </section>

  <section class="skill container-fluid">
    <h2 class="section" style="text-align: center;"><span class="section-heading">Skills</span></h2>
    <table class="skill-table">
      <tr>
        <th>Languages:</th>
        <td>Java, Python, C, C++, Racket</td>
      </tr>
      <tr>
        <th>Web Technologies:</th>
        <td>Angular4, Node.js, Express.js, JavaScript, jQuery, HTML, CSS, Bootstrap</td>
      </tr>
      <tr>
        <th>Databases:</th>
        <td>MongoDB, MySQL, PostgreSQL</td>
      </tr>
      <tr>
        <th>Toos/ Frameworks:</th>
        <td>Hadoop, Spark, Maven, JUnit4</td>
      </tr>
      <tr>
        <th>IDEs:</th>
        <td>IntelliJ IDEA, Eclipse, PyCharm, WebStorm, Visual Studio</td>
      </tr>
    </table>
  </section>

  <section class="project container-fluid">
    <h2 class="section" style="text-align: center;"><span class="section-heading">Projects</span></h2>
    <h3 class="project-title">Pixel Classification in High Resolution Brain Scans</h3>
    <h5 class="date">January 2018 - April 2018</h5>
    <div class="project-content">
      <ul>
        <li>Increased training set diversity by performing rotations and mirroring on the original brain scan image</li>
        <li>Trained a decision tree classifier and an ensemble of random forest classifiers, using Spark’s MLlib</li>
        <li>Achieved an accuracy of 99.57% by tuning parameters on the validation data</li>
      </ul>
    </div>

    <h3 class="project-title">NUShuttle</h3>
    <h5 class="date">September 2017 - December 2017</h5>
    <div class="project-content">
      <ul>
        <li>Devised a MEAN stack application to provide transit information like ride schedules,
          shortest route details and waiting lists and it enabled users to reserve
          a ride and check in; deployed on Heroku cloud platform</li>
        <li>Created RESTful APIs to perform CRUD operations using Node.js and MongoDB</li>
        <li>Secured access to APIs and Web services using Passport.js middleware</li>
      </ul>
    </div>

    <h3 class="project-title">Plagiarism Checker</h3>
    <h5 class="date">September 2017 - December 2017</h5>
    <div class="project-content">
      <ul>
        <li>Created a plagiarism checker in Java to detect code duplication by parsing source codes with JavaParser
          library and comparing the abstract syntax trees using Jaccard similarity coefficient;
          ranked in top 3 projects in class</li>
        <li>Formulated test strategies and performed unit testing using JUnit 4 framework</li>
      </ul>
    </div>

    <h3 class="project-title">Search Engine</h3>
    <h5 class="date">January 2017 - April 2017</h5>
    <div class="project-content">
      <ul>
        <li>Implemented BM25, TF-IDF and Lucene information retrieval models on standard CACM data collection</li>
        <li>Modified BM25 retrieval model to incorporate pseudo relevance feedback technique by implementing
          Rocchio’s algorithm; system demonstrated an improvement of 25.54% over baseline run</li>
      </ul>
    </div>
  </section>
</div>
