<div class="container-fluid">

  <div class="intro container-fluid">
    <img class="image" src="../assets/profilePic.JPG"/>
    <h1 class="greeting">Hello!</h1>
    <h2>I am <span class="name">Nisarg Shah</span>, a software engineer </h2>
    <h2>at Amazon Web Services.</h2>
  </div>

  <section class="work container-fluid">
    <h2 class="section" style="text-align: center;"><span class="section-heading">Experience</span></h2>

    <h3 class="company">Amazon Web Services</h3>
    <h4 class="job-title">Software Development Engineer</h4>
    <h5 class="date">January 2018 - April 2018</h5>

    <h3 class="company">Ansys</h3>
    <h4 class="job-title">Intern</h4>
    <h5 class="date">September 2017 - December 2017</h5>

    <h3 class="company">BISAG</h3>
    <h4 class="job-title">Intern</h4>
    <h5 class="date">September 2017 - December 2017</h5>
  </section>

  <section class="skill container-fluid">
    <h2 class="section" style="text-align: center;"><span class="section-heading">Skills</span></h2>
    <table class="skill-table">
      <tr>
        <th>Languages:</th>
        <td>Java, Python, C, C++, Racket</td>
      </tr>
      <tr>
        <th>Web Technologies:</th>
        <td>Angular4, Node.js, Express.js, JavaScript, jQuery, HTML, CSS, Bootstrap</td>
      </tr>
      <tr>
        <th>Databases:</th>
        <td>MongoDB, MySQL, PostgreSQL</td>
      </tr>
      <tr>
        <th>Toos/ Frameworks:</th>
        <td>Hadoop, Spark, Maven, JUnit4</td>
      </tr>
      <tr>
        <th>IDEs:</th>
        <td>IntelliJ IDEA, Eclipse, PyCharm, WebStorm, Visual Studio</td>
      </tr>
    </table>
  </section>

  <section class="project container-fluid">
    <h2 class="section" style="text-align: center;"><span class="section-heading">Projects</span></h2>
    <h3 class="project-title">Pixel Classification in High Resolution Brain Scans</h3>
    <h5 class="date">January 2018 - April 2018</h5>
    <div class="project-content">
      <ul>
        <li>Increased training set diversity by performing rotations and mirroring on the original brain scan image</li>
        <li>Trained a decision tree classifier and an ensemble of random forest classifiers, using Spark’s MLlib</li>
        <li>Achieved an accuracy of 99.57% by tuning parameters on the validation data</li>
      </ul>
    </div>

    <h3 class="project-title">NUShuttle</h3>
    <h5 class="date">September 2017 - December 2017</h5>
    <div class="project-content">
      <ul>
        <li>Devised a MEAN stack application to provide transit information like ride schedules,
          shortest route details and waiting lists and it enabled users to reserve
          a ride and check in; deployed on Heroku cloud platform</li>
        <li>Created RESTful APIs to perform CRUD operations using Node.js and MongoDB</li>
        <li>Secured access to APIs and Web services using Passport.js middleware</li>
      </ul>
    </div>

    <h3 class="project-title">Plagiarism Checker</h3>
    <h5 class="date">September 2017 - December 2017</h5>
    <div class="project-content">
      <ul>
        <li>Created a plagiarism checker in Java to detect code duplication by parsing source codes with JavaParser
          library and comparing the abstract syntax trees using Jaccard similarity coefficient;
          ranked in top 3 projects in class</li>
        <li>Formulated test strategies and performed unit testing using JUnit 4 framework</li>
      </ul>
    </div>

    <h3 class="project-title">Search Engine</h3>
    <h5 class="date">January 2017 - April 2017</h5>
    <div class="project-content">
      <ul>
        <li>Implemented BM25, TF-IDF and Lucene information retrieval models on standard CACM data collection</li>
        <li>Modified BM25 retrieval model to incorporate pseudo relevance feedback technique by implementing
          Rocchio’s algorithm; system demonstrated an improvement of 25.54% over baseline run</li>
      </ul>
    </div>
  </section>

  <section class="footer container-fluid">
    <a href="https://github.com/shahnisarg14" target="_blank"><img class="github-logo" src="../assets/GitHub-Mark-Light-32px.png"/></a>
    <a href="https://www.linkedin.com/feed/" target="_blank"><img class="linkedin-logo" src="../assets/linkedInIcon.png"/></a>
  </section>
</div>
